<% layout('layouts/boilerplate') %>
    <h1>All Festivals</h1>
    <div>
        <a href="/festivals/new">Add Festival</a>
    </div>
    <ul>
        <% for (let festival of festivals) { %>
            <li><a href="/festivals/<%=festival._id%>">
                    <%=festival.title%>
                </a></li>
            <% } %>
    </ul>