<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Festival</title>
    </head>

    <body>
        <form action="/festivals" method="POST">
            <div>
                <label for="title">Title</label>
                <input type="text", id="title" name="festival[title]">
            </div>
            <div>
                <label for="location">Location</label>
                <input type="text", id="location" name="festival[location]">
            </div>
            <button>Add Festival</button>
        </form>
        <a href="/festivals">All Festivals</a>
    </body>

</html>