<% layout('layouts/boilerplate') %>
    <h1>
        <%=festival.title%>
    </h1>
    <h2>
        <%=festival.location%>
    </h2>
    <div>
        <a href="/festivals/<%=festival._id%>/edit">Edit Festival</a>
    </div>
    <br>
    <div>
        <form action="/festivals/<%=festival._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </div>
    <br>
    <footer>
        <a href="/festivals">All Festivals</a>
    </footer>